<div class="contact-info clear">
    <div class="contact-title">ที่อยู่ :</div>
    <div class="contact-detail">บางใหญ่ นนทบุรี</div>
    <div class="clear"></div>
    <div class="contact-title">มือถือ :</div>
    <div class="contact-detail">086-896-6386</div>
    <div class="clear"></div>
    <div class="contact-title">E-Mail :</div>
    <div class="contact-detail"><a href="mailto:sasangchai@gmail.com">sasangchai@gmail.com</a></div>
    <div class="clear"></div>
</div>
<div class="clear social">
    <a href="https://th-th.facebook.com/sangchai.saebay" target="_blank"><img class="icon" src="../../assets/images/facebook.png" alt="facebook"></a>
    <a href="https://line.me/ti/p/~0sangchai0" target="_blank"><img class="icon" src="../../assets/images/line.png" alt="line"></a>
</div>