<div class="content head_color">
    <h1>ประสบการณ์ :</h1>
    <h3>Multi Infinity Plus Co.Ltd. : 2560 - ปัจจุบัน</h3>
    <p>Senior Engineer : ผู้แลระบบคอมพิวเตอร์และจัดเตรียม environment ร่วมกับทีมพัฒนาแอพพลิเคชั่น, ติดต่อประสานงานลูกค้า
        ร่วมกับเซลล์, งานเอกสารประเภท Compare TOR เปรียบเทียบราคา Scorp Of Work</p>
    <h3>Ford Mahanakorn Co.Ltd. : 2557 - 2560</h3>
    <p>Sale : ขายรถฟอร์ดทุกรุ่น, ดูแลและบริการลูกค้าหลังการขาย, ออกบูธตามสถานที่ต่างๆ</p>
    <h3>VRM Voiz Plus Co.Ltd. : 2547 - 2557</h3>
    <p>Engineer : ดูแลระบบแม่ข่ายคอมพิวเตอร์, ศึกษาและพัฒนาระบบ VoIP ได้แก่ Asterisk FreePBX Issabel ใช้งานร่วมกับระบบ
        Call center, ดูแลและแก้ไขปัญหาให้ลูกค้า รวมถึงนำเสนอ Solution ที่ดีกว่าให้กับลูกค้าเพื่อการใช้งานได้อย่างเหมาะสม
    </p>
    <h1>การศึกษา :</h1>
    <h3>ปริญญาตรี :</h3>
    <p>สาขาคอมพิวเตอร์ธุรกิจ บริหารธุรกิจ มหาวิทยาลัยราชภัฎธนบุรี</p>
    <h3>ประกาศนียบัตรวิชาชีพชั้นสูง (ปวส.) :</h3>
    <p>สาขาคอมพิวเตอร์ธุรกิจ บริหารธุรกิจ โรงเรียนเทคนิควิมลบริหารธุรกิจ</p>
    <h3>มัธยมศึกษาตอนปลาย :</h3>
    <p>ศิลป์ภาษาเยอรมัน โรงเรียนมัธยมวัดมกุฎกษัตริย์</p>
</div>