<div class="content head_color">
    <h1>ประสบการณ์ :</h1>
    <h3>{{ portfolio[0].topic }}</h3>
    <p>{{ portfolio[0].info }}</p>
    <h3>{{ portfolio[1].topic }}</h3>
    <p>{{ portfolio[1].info }}</p>
    <h3>{{ portfolio[2].topic }}</h3>
    <p>{{ portfolio[2].info }}</p>
    <h1>การศึกษา :</h1>
    <h3>{{ portfolio[3].topic }}</h3>
    <p>{{ portfolio[3].info }}</p>
    <h3>{{ portfolio[4].topic }}</h3>
    <p>{{ portfolio[4].info }}</p>
    <h3>{{ portfolio[5].topic }}</h3>
    <p>{{ portfolio[5].info }}</p>
</div>